*.pyc
config_notes/*
test_static_serve/*
nymdesign/nymdesign/settings_prod.py
nymdesign/nymdesign/config/*
nymdesign/nymdesign/urls_prod*
db/*
nymdesign/config/PROD_SETTINGS.py
nymdesign/portfolio/fixtures/*
nymdesign/templates/googlehostedservice.html
static_media/media/project_regular/*
test_serve_static/*
uploaded_media/*
backup/sql/*
backup/fixtures/*all*json

nymdesign/test_db/*
nymdesign/nymdesign/config/PROD_SETTINGS.py
nymdesign/nymdesign/config/HOME_SETTINGS.py
static_media/imgs/cat_strip/*
static_media/imgs/menu/*
static_media/imgs/hm_strip/*
test_setup/*

nymdesign/settings/webfaction.py
