{% extends "base.html" %}

{% block title %}{{ p.name }}{% endblock %}

{% block addition_header_info %}
<style type="text/css">

</style>
<script language="javascript" src="{{ STATIC_URL }}scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
<script language="javascript" src="{{ STATIC_URL }}scripts/jquery.cycle/jquery.cycle.all.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--

$(document).ready(function(){

	
  /* set img strip hover bg */
  $('a.cat_img_lnk').hover( function(){
      $(this).css('opacity', '.5');
   },
   function(){
      $(this).css('opacity', '1');
   });
 
{% if selected_media_type.project_bg_color %}
  /* set center col bg color based on category */
 $('#td_center_col').css('background-color', '{{selected_media_type.project_bg_color}}');
	//set_mail_links();
{% endif %}

});
	  
//-->
</script>

{% endblock %}

{% block left_menu %}
{% include "portfolio/left_category_proj_listing.html" %}
{% endblock %}

{% block main_content %}
<!-- color band -->
<div style="background-color:{{selected_media_type.band_color}}; height:6px;"></div>

<!-- project name -->
<h2 style="background-color:{{selected_media_type.project_bg_color}}" class="project_name">&nbsp;</h2>

<!-- category images -->
<div style="padding:0;margin:0;background-color:{{selected_media_type.project_bg_color}}">
	{% for pi in category_imgs	%}
	<div class="cat_img_div"><a href="{% url 'view_single_project' pi.project.slug %}"  title="{{ pi.project.name|escape }}" class="cat_img_lnk"><img src="{{ pi.img.url }}" alt=" " class="cat_img" /></a></div>
	{% endfor %}
	<div class="clear"></div>
</div>
{% if selected_media_type.description %}
	<div id="category_desc" style="background-color:{{selected_media_type.project_bg_color}};">{{ selected_media_type.description }}</div>
{% endif %}
<div style="height:0px;background-color:{{selected_media_type.project_bg_color}};margin:0;padding:0;">
	
</div>

{% endblock %}

{% block center_footer_col_color %}{{selected_media_type.project_bg_color}} {% endblock %};
