{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block addition_header_info %}
<script language="javascript" src="{{ MEDIA_URL }}scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
{% endblock %}

{% block left_menu %}{% endblock %}

{% block main_content %}
<!-- color band -->
<div style="background-color:#476d7c; height:6px;"></div>

<!-- project name -->
<h2 style="background-color:#e3e8ec;" class="project_name">{{ title }}</h2>

<!-- category images -->
<div id="proj_desc"><p>NYMDESIGN:</p> 

<p>We are a unique design studio in the sense that we approach each project with the custom solutions and specialized attention they merit. We are a traditional design studio in the way we offer solutions for a variety of clients in a variety of media - making the scope of our work creatively comprehensive.</p>
	
<p>Our creative approach to each individual project allows us to design in an environment that is innovative, authentic and dynamic. The design enhances the content it frames: it is a transparent container that holds and shapes the information within in a way that is unique, yet relevant and informative. Our varied design aesthetic has allowed us to create work that can be simple or complex, single or multi-dimensional, narrative or image oriented, and precise or dynamic.</p>

<p>Internationally, we have worked with organizations such as Microsoft, United Nations, and Amnesty International. Within the US, our clients have ranged in scope from government (MBTA/Boston T) to educational (Yale &amp; Harvard Universities), from cultural (Neighborhood Music School) to small innovative businesses (UM Projects & Shubrah), among others. You can visit our client section for a complete updated list.</p>

<p>Nymdesign was originally founded in Brooklyn, NY, but is now based in Boston, MA.</p>

<p>NILOU MOOCHHALA:</p>

<p>Nilou Moochhala, the principal of Nymdesign was born and raised in Bombay/Mumbai. Whilst still in high-school, she was awarded a silver medal in a national-level arts competetion. Since then, her artwork/designs have been showcased at galleries in Mumbai, London, New York, and across New England.</p>

<p>Prior to forming Nymdesign, she worked in a variety of organizations such as Sotheby's, The New Museum, Weiden &amp; Kennedy, and Robert Greenberg Associated (R/GA) in New York; and the Smithsonian Institution in Washington, DC. She was also involved in the product design for Isabella Rossellini's Manifesto cosmetic line. While in NYC's Silicon Alley, she was Senior Art Director at the startup Orientation.com where she managed the creative team.</p>

<p>Her innovative book designs were included in the Mobilivre-Bookmobile project that travelled nationally between 2000-2005 to local "literature-friendly" organizations in a vintage Airtstream. The Mobilivre now contains a permanent collection of over 300 books, which is housed at the Artexte Information Center in Montreal. Her work has been published within the US and internationally in publications such as Print, India New England, New York Times, and others.</p>

<p>Nilou Moochhala received her Masters of Fine Arts in Graphic Design from the Yale University School of Art. Prior to that, she was awarded her Bachelor of Fine Arts from Mount Holyoke College (Phi Beta Kapa). She has served as adjunct professor at the State University of New York at Purchase, and been a visiting critic at the Maryland Institute of Contemporary Art.</p>
</div>


{% endblock %}

