{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block addition_header_info %}
<script language="javascript" src="{{ MEDIA_URL }}scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
{% endblock %}

{% block left_menu %}{% endblock %}

{% block main_content %}
<!-- color band -->
<div style="background-color:#476d7c; height:6px;"></div>

<!-- project name -->
<h2 style="background-color:#e3e8ec;" class="project_name">{{ title }}</h2>

<!-- category images -->
<div id="proj_desc"><p>NYMDESIGN:</p>

<p>Nymdesign is multi-disciplinary design studio, focusing on branding, digital and print media. Over the past 17 years, we have worked with multinational organizations such as the United Nations, Amnesty International, and Microsoft, among others. Our dedicated work within the educational realm has included work for Yale, Stanford, & Harvard Universities. Nymdesign’s ever-evolving passion to support cultural programs has allowed us to design for the Museum of the City of New York, Yale British Art Center, and Museum of Chinese in America. We have worked internationally with clients in New York, Geneva, Tokyo, Mumbai, Khartoum, and London. Nymdesign was originally founded in Brooklyn, NY, but is now based in Boston, MA.</p>

<p>We could be called a 'traditional' design shop because of our firm belief that each project we take on has a unique voice and message to communicate. We could be called an 'innovative' design shop because of our firm belief that design exists as a transparent 'system' that holds and shapes the content within. These beliefs have allowed us to create work that can be simple or complex, single or multi-dimensional, narrative or image-oriented. Our approach to each individual project allows us to design in an environment that is authentic and dynamic.</p>

<p>NILOU MOOCHHALA, Principal & Creative Director:</p>

<p>Prior to forming Nymdesign, Moochhala worked with a variety of organizations such as Sotheby’s and The New Museum in New York, and Smithsonian Institution in Washington, DC. While in NYC’s Silicon Alley, she was Senior Art Director at the startup Orientation.com, where she managed the creative team. Ms. Moochhala received her Masters of Fine Arts in Graphic Design from the Yale University School of Art. Prior to that, she was awarded her Bachelor’s in Studio Art from Mount Holyoke College.</p>

<p>She has served as adjunct professor at SUNY Purchase, and been a visiting critic at the Maryland Institute of Contemporary Art. She is a member of AIGA Boston and is a design critic for their Annual Student Portfolio Review. She is an award recipient of a 2015 Massachusetts Cultural Council grant, a partial recipient of a 2016 New England Foundation for the Arts grant, as well as a joint recipient of a National Endowment for the Arts grant for 2015-2017. Her work has appeared in the Boston Globe, Print, India New England, and Big, Red & Shiny, among others.</p>

<p>In her free time, Moochhala likes to experiment with collaging techniques and public art popup exhibits. This has resulted in her work being exhibited at venues such as the historic Massachussetts State House and the 150-year old Minuteman Bikeway.</p>
</div>


{% endblock %}
