{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block addition_header_info %}
<script language="javascript" src="{{ MEDIA_URL }}scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
{% endblock %}

{% block left_menu %}{% endblock %}

{% block main_content %}
<!-- color band -->
<div style="background-color:#476d7c; height:6px;"></div>

<!-- project name -->
<h2 style="background-color:#e3e8ec;" class="project_name">{{ title }}</h2>

<!-- category images -->
<div id="proj_desc"><p>NYMDESIGN:</p> 

<p>We could be called a 'traditional' design shop because of our firm belief that each project we take on has a unique voice and message to communicate.</p>
	
<p>We could be called an 'innovative' design shop because of our firm belief that design exists as a transparent 'system' that holds and shapes the content within.</p> 
	
<p>These beliefs have allowed us to create work that can be simple or complex, single or multi-dimensional, narrative or image-oriented. Our approach to each individual project allows us to design in an environment that is authentic and dynamic.</p>

<p>We have worked with multinational organizations such as Microsoft, United Nations, and Amnesty International. Clients within the public sector have ranged from the MBTA/Boston T to (former) Palo Alto mayor Sid Espinosa's political campaign. Our dedicated work within the educational realm has included web and print work for Yale &amp; Harvard Universities, among others. Our support of individual and small businesses has allowed us to collaborate in an intimate and personal way with founders of UM, Shubrah, Bright Eyes, and others. Nymdesign's ever-evolving passion to support cultural programs and community outreach has allowed has allowed us to design for groups such as Arlington Film Festival, Artspace, Massachusetts Children's Alliance, and Saheli for South Asian Women. You can visit our client section for a more up-to-date listing of whom we work with.</p>

<p>Nymdesign was originally founded in Brooklyn, NY, but is now based in Boston, MA.</p>

<p>NILOUFER MOOCHHALA:</p>

<p>Niloufer Moochhala, the principal of Nymdesign, was born and raised in Bombay/Mumbai. Even at an early age, she was drawing, sketching, painting, and studying fine art. Receiving national recognition during these exploratory years in India furthered her desire to pursue art/design in a more formal academic environment once she arrived for college in the US. Her continued explorations of the boundaries between art &amp; design have been showcased at galleries in Mumbai, New York, Boston, New Haven, and Providence over the last decade.</p>

<p>Prior to forming Nymdesign, Moochhala worked with a variety of organizations such as Sotheby's, New Museum, Weiden &amp; Kennedy, Conde Nast, and Robert Greenberg Associates (R/GA) in New York; and the Smithsonian Institution in Washington, DC. While in NYC's Silicon Alley, she was Senior Art Director at the startup Orientation.com, where she managed the creative team. In this role, she oversaw the design and implementation of all print, web, and multimedia materials for this innovative local-global search engine.</p>

<p>Ms. Moochhala received her Masters of Fine Arts in Graphic Design from the Yale University School of Art. Prior to that, she was awarded her Bachelor's in Studio Art from Mount Holyoke College (Phi Beta Kapa). She has been invited to speak at her alma maters, as well as at local cultural events in New England. She has served as adjunct professor at the State University of New York at Purchase, and been a visiting critic at the Maryland Institute of Contemporary Art. She is a member of AIGA Boston and has served as a design critic for their Annual Student Portfolio Review. She also currently serves as a committee member of Arlington Public Art.</p>
</div>


{% endblock %}

